/* google font */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
     
}
@media  (max-width:688px) {
    .carousel-item img{
        height:300px;
    }
    
}
 